# run: conda env create --file environment.yml
# include new packages: conda env update --file environment.yml

# For first time usage on Ubuntu (for lava-nc):
# sudo apt upgrade
# sudo apt full-upgrade
# yes | sudo apt install gcc
name: networkx-to-lava
channels:
  - conda-forge
  - conda
dependencies:
- anaconda
- conda:
# Run python tests.
  - pytest
  - matplotlib
# Run graph software quickly
  - networkx
- pip
- pip:
# Run pip install on .tar.gz file in GitHub repository.
  - https://github.com/lava-nc/lava/releases/download/v0.3.0/lava-nc-0.3.0.tar.gz
# Auto generate docstrings
  - pyment
# Auto format networkx graph plots.
#  - pygraphviz
# Auto generate docstrings
  - flake8
# Auto generate documentation.
  - pdoc3
# Code formatting compliance
  - black
# Generate diagrams.
  - plantuml
# Identify and remove dead code.
  - vulture
# Include GitHub pre-commit hook.
 - pip install pre-commit
